body {
  margin: 0;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0rem;
  margin-top: 0;
  font-size: 4.5rem;
}

.subheading {
  background-color: black;
  color: #fcd801;
  font-size: 3rem;
  padding: 1.25rem;
  border-bottom: 0.4rem green solid;
}
